@tailwind base;
@tailwind components;
@tailwind utilities;

button > svg {
    margin-right: 5px;
}
.asd{
    border: 2px;
    border-color: aqua;
    background-color: black;
    margin: 2px;
    padding: 2px;
}